{% extends "menu.html" %}
{% block link %}
    <link rel="stylesheet" href="../static/css/favourites.css">
    <title>Favourites</title>
{% endblock %}
{% block body %}
    <div class="box2">
        <div class="box2__item1">
            <div class="box2__item1__time1">
                <div class="list1">
                    <div class="list1_item1">
                        <p class="music_name"></p>
                        <p class="music_singer">Singer name</p>
                        <p class="music_data">Music Data</p>
                    </div>
                    <div class="list1_item2">
                        <a class="button1" href="#">Play online</a>
                        <a class="button2" href="">Download</a>
                    </div>
                </div>
                <div class="list2">
                    <img src="https://news.store.rambler.ru/img/3fdd61fb617943315dde910101cbfa52?img-format=auto&img-1-resize=height:355,fit:max&img-2-filter=sharpen"
                         alt="">
                </div>
            </div>
            <div class="box2__item1__time2">
                <div class="list4">
                    {% for singer in singers %}
                        <div class="box">
                            <div class="box_item1"><img src="{{ singer.img }}" alt=""></div>
                            <div class="box_item2"><p>{{ singer.name }}</p></div>
                            <div class="box_item3"><p>Music: {{ singer.music|length }}</p></div>
                            <div class="box_item4"><p>Album: {{ singer.album|length }}</div>
                            <a href="#" class="box_item5"><img data-id="{{ singer.id }}" src="../static/icons/Rectangle%2062.png" alt=""></a>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="box2__item2" data-id="{{ singer_id }}">
            <div class="box2__item2__time1">
                <p class="category" data-id="0">All</p>
                {% for category in category_mor %}
                    <p class="category" data-id="{{ category.id }}">{{ category.name }}</p>
                {% endfor %}
                {#                <p>Popular Musics</p>#}
                {#                <p>New musics</p>#}
                {#                <p>Expedito, odit?</p>#}
                {#                <p>Optio, vitae</p>#}
                {#                <p>In, perferendis</p>#}
            </div>
            <div class="box2__item2__time2">

                {% for music in musics %}
                    <div class="music" data-id="{{ music.music.id }}">
                        <div class="music__item1">
                            <div class="music__item1__time">
                                <img class="music_icon" src="../static/icons/Polygon%202.png" alt="">
                                <audio src="{{ music.music.url }}"></audio>
                            </div>
                        </div>
                        <div class="music__item2">
                            <img class="music_img"
                                 src=""
                                 alt="">
                        </div>
                        <div class="music__item3">
                            <a href="#" class="music_singer_name" data-id="{{ music.music.singer.id }}">{{ music.music.singer.name }}</a>
                            <p class="text">{{ music.music.name[0:10] }} ...</p>
                        </div>
                        <div class="music__item4" data-id="{{ music.music.date.strftime("%Y-%m-%d") }}">
                            <p>3:00</p>
                        </div>
                        <div class="music__item5">
                            <p>325.4 kb/s</p>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
{% block music_pleyer %}
    <div class="box3__item1">
        <div class="box3__item1_time1">
            <img class="icon1" src="../static/icons/left.png" alt="">
        </div>
        <div class="box3__item1_time2">
            <img class="icon2 icon" src="../static/icons/button%201.png" alt="">
            <audio data-id="1" src="" id="music"></audio>
        </div>
        <div class="box3__item1_time3">
            <img class="icon4" src="../static/icons/right.png" alt="">
        </div>
    </div>
    <div class="box3__item2">
        <div class="box3__item2__time1">
            <div class="box3__item2__time1__box1">
                <p class="music_name2" data-id=""></p>
            </div>
            <div class="box3__item2__time1__box2">
                <small class="fullTime">0:00</small>
            </div>
        </div>
        <div class="box3__item2__time2">
            <div class="box3__item2__time2__box">
                <div class="box3__item2__time2__box__item"></div>
            </div>
        </div>
    </div>
    <div class="box3__item3">
        <i class="fa-solid fa-rotate-right icon5"></i>
        {#        <i class="fa-solid fa-star favorites"></i>#}
        <i class="fa-solid fa-star favorites" style="color: #860093;"></i>
    </div>
    <div class="box3__item4">
        <div class="box3__item4__item">
            <i id="icon_value" class="fa-solid fa-volume-high " style="color: #ffffff;"></i>
            <input type="range" min="0" max="100" value="100" id="range">
            <p class="text"><span id="value"></span></p>
        </div>
    </div>
{% endblock %}
{% block js %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jsmediatags/3.9.5/jsmediatags.min.js"></script>
    <script src="../static/java/favourites.js"></script>
{% endblock %}